/*
 *   ___                            _   _   _              
 *  | __| _ __ _ _ __  ___   ______| |_| |_(_)_ _  __ _ ___
 *  | _| '_/ _` | '  \/ -_) (_-< -_)  _|  _| | ' \/ _` (_-<
 *  |_||_| \__,_|_|_|_\___| /__|___|\__|\__|_|_||_\__, /__/
 *                                                |___/    
 */

.frame {
    box-shadow: inset 0 0 0 var(--main_Border) var(--main_Background-Color);
    border-radius: var(--main_Radius);
    padding: calc(var(--main_Border) + var(--main_Padding));
}
