   html {
/*      box-sizing: border-box;*/
    }

    *, *::before, *::after {
      box-sizing: inherit;
    }

    .parent {
      width: 200px;
      height: 200px;
      border: 10px solid red;
      background: lightblue;
    }

    .child {
      width: 100%;
      height: 100%;
      background: yellow;
    }